{% extends "superindex/base.html" %}
{% load static %}
{% block content %}



<!-- Start Contact Us -->

        
{% if messagebox %}
{{messagebox}}
{% endif %}
<br> <br>

{% if signup_form.errors %}
                      <div class="alert alert-danger" role="alert">
                        <ul>
                          {% for field, errors in signup_form.errors.items %}
                            {% for error in errors %}
                              <li>{{ error }}</li> <br>
                            {% endfor %}
                          {% endfor %}
                        </ul>
                      </div>
                    {% endif %}




<br>

                <form method="post" action="{% url 'signup' %}">
                    {% csrf_token %}
                    {{ signup_form.as_p }}
                    <button type="submit">Signup</button>
                  </form>


  
<!--/ End Contact Us -->

{% endblock content %}