{% extends "superindex/base.html" %}
{% load static %}
{% block content %}

    <div class="container-fluid col-5 ">

        <br>

        <h1 class="display-1 text-center">SIGN UP</h1>
        
        <br>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-dark text-center" role="alert">
                        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    </div>    
                {% endfor %}
            </ul>
        {% endif %}
        
        <br>

        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            
            <table>
                {% for field in signup_form %}
                    <tr>
                        <div class="mb-3">
                            <td style="text-align:centre">
                            <label class="form-label" for="{{ field.id_for_label }}">
                                {{ field.label }}
                            </label>
                            </td>
                            <td style="text-align:centre">
                            {{ field }}
                            {% if field.errors %}
                                <br><br>
                                <div class="alert alert-danger" role="alert">
                                    {% for error in field.errors %}
                                        <span class="error">{{ error }}</span><br>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            </td>
                        </div>
                    </tr>
                {% endfor %}
            </table>

            <br>

            <div class="col-12 text-center">
                <button type="submit" class="btn btn-dark w-50 py-2">SIGN UP</button>
            </div>

        </form>
        
        <br>

        <p class="col-12 text-center">
            <a href="{% url 'reset_forgot_password' %}" class="link-dark">Reset Password</a>
        </p>

    </div>


{% endblock content %}