{% extends "superindex/base.html" %}
{% load static %}
{% block content %}

       
{% if messagebox %}
{{messagebox}}
{% endif %}

<br> <br>

{% if signin_form.errors %}
                      <div class="alert alert-danger" role="alert">
                        <ul>
                          {% for field, errors in signin_form.errors.items %}
                            {% for error in errors %}
                              <li>{{ error }}</li> <br>
                            {% endfor %}
                          {% endfor %}
                        </ul>
                      </div>
                    {% endif %}


<br>

<h1>Login</h1>
    <form method="post" action="{% url 'signin' %}">
        {% csrf_token %}
        {{ signin_form }}
        <button type="submit">Login</button>
    </form>

{% endblock content %}