{% extends "superindex/base.html" %}
{% load static %}
{% block content %}



<!-- Start Contact Us -->





<br>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<br>

                <form method="post" action="{% url 'signup' %}">
                    {% csrf_token %}
                    {% for field in signup_form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in field.errors %}
                        <span class="error">{{ error }}</span><br>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit">Signup</button>
</form>


  
<!--/ End Contact Us -->

{% endblock content %}