{% extends "superindex/base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid col-5 ">

    <br>

    <h1 class="display-1 text-center">Personalized HEALTH PLAN</h1>
    
    <br>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-dark text-center" role="alert">
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>    
            {% endfor %}
        </ul>
    {% endif %}
    
    <br>
        
    <div class="container">

        {% for i in html_response %}
            {% if '**' in i %}
                <mark>{{ i }}<mark> <br>
            {% else %}
                <p>{{ i }}</p> <br>
            {% endif %}
        {% endfor %}

    </div>

    <br>

    <p class="alert alert-danger" role="alert">"In the pursuit of precision and optimal recommendations, it is essential to acknowledge that errors may arise. Should such instances occur, or in the event of an emergency, it is advisable to seek consultation from a qualified medical professional."</p>

    <hr>

    <div class="container">

        <div class="alert alert-primary" role="alert">
            To enhance the level of personalization, kindly duplicate the provided prompt and incorporate modifications. Subsequently, utilize ChatGPT to craft a more intricately tailored plan
        </div>

        <div class="alert alert-light" role="alert">
            <p id="prompt">{{prompt}}</p>
            <button onclick="copyPrompt()" class="btn btn-dark w-100 py-2">Copy Prompt</button>
        </div>
    </div>

    <script>
        function copyPrompt() {
          var promptText = document.getElementById("prompt").innerText;
          
          // Create a textarea element to hold the text temporarily
          var textarea = document.createElement("textarea");
          textarea.value = promptText;
          document.body.appendChild(textarea);
          
          // Select the text inside the textarea
          textarea.select();
          textarea.setSelectionRange(0, 99999); /* For mobile devices */
          
          // Copy the selected text
          document.execCommand("copy");
          
          // Remove the textarea element
          document.body.removeChild(textarea);
          
          // Notify the user
          alert("Prompt copied to clipboard!");
        }
        </script>

{% endblock content %}