{% extends "superindex/base.html" %}
{% load static %}
{% block content %}

<br>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<br>
        

<h1>Personalized HEALTH PLAN</h1>
<br>

{% for i in html_response %}
{% if '**' in i %}
        <strong>{{ i }}</strong> <br>
    {% else %}
        {{ i }} <br>
    {% endif %}
{% endfor %}

{% endblock content %}