<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page}}</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    
	</head>
  <body  >



<div >

    <br>

    <h1 >Health Data No {{data.healthrecord.id}}</h1>
    
    <br>

   
        
            
                        <table >
                            <tr>
                                <th>USER ID</th>
                                <td>{{data.healthrecord.healthprofile.id}}</td>
                            </tr>
                            <tr>
                                <th>NAME</th>
                                <td>{{data.healthrecord.healthprofile.name}}</td>
                            </tr>
                            <tr>
                                <th>AGE</th>
                                <td>{{data.healthrecord.healthprofile.age}}</td>
                            </tr>
                            <tr>
                                <th>GENDER</th>
                                <td>{{data.healthrecord.healthprofile.gender}}</td>
                            </tr>
                            <tr >
                                <th>OCCUPATION SECTOR</th>
                                <td>{{data.healthrecord.healthprofile.occupation.name}}</td>
                            </tr>
                            <tr>
                                <th>RECORD ID</th>
                                <td>{{data.healthrecord.id}}</td>
                            </tr>
                            <tr>
                                <th>HEIGHT</th>
                                <td>{{data.healthrecord.height}} CM</td>
                            </tr>
                            <tr>
                                <th>WEIGHT</th>
                                <td>{{data.healthrecord.weight}} KG</td>
                            </tr>
                            <tr>
                                <th>BMI VALUE</th>
                                <td>{{data.healthrecord.bmi_value}}</td>
                            </tr>
                            <tr >
                                <th>BMI</th>
                                <td>{{data.healthrecord.bmi}}</td>
                            </tr>
                            <tr>
                                <th>SYSTOLIC PRESSURE</th>
                                <td>{{data.healthrecord.systolic_pressure}} mmHg </td>
                            </tr>
                            <tr >
                                <th>SYSTOLIC PRESSURE CATEGORY</th>
                                <td>{{data.healthrecord.systolic_pressure_bp}}</td>
                            </tr>
                            <tr>
                                <th>DIASTOLIC PRESSURE</th>
                                <td>{{data.healthrecord.diastolic_pressure}} mmHg </td>
                            </tr>
                            <tr >
                                <th>DIASTOLIC PRESSURE CATEGORY</th>
                                <td>{{data.healthrecord.diastolic_pressure_bp}}</td>
                            </tr>
                            <tr>
                                <th>PHYSICAL ACTIVITY</th>
                                <td>{{data.healthrecord.physical_activity}} Minutes</td>
                            </tr>
                            <tr>
                                <th>SCREEN TIME</th>
                                <td>{{data.healthrecord.screen_time}} Minutes</td>
                            </tr>
                            <tr>
                                <th>STRESS LEVEL</th>
                                <td>{{data.healthrecord.stress_level}}</td>
                            </tr>
                            <tr>
                                <th>HEART RATE</th>
                                <td>{{data.healthrecord.heart_rate}} BPM</td>
                            </tr>
                            <tr>
                                <th>SLEEP DURATION</th>
                                <td>{{data.healthrecord.sleep_duration}} Minutes</td>
                            </tr>
                            <tr>
                                <th>QUALITY OF SLEEP</th>
                                <td>{{data.healthrecord.quality_of_sleep}}</td>
                            </tr>
                            <tr >
                                <th>SLEEP DISORDER</th>
                                <td>{{data.healthrecord.sleep_disorder}}</td>
                            </tr>
                        </table>
                   
</div>

  

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>