{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}



<!-- Start Contact Us -->

                
                

                <form method="post" action="{% url 'signup' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if form.errors %}
                      <div class="alert alert-danger" role="alert">
                        <strong>Error!</strong> Please correct the errors below.
                        <ul>
                          {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                          {% endfor %}
                        </ul>
                      </div>
                    {% endif %}
                    <button type="submit">Submit</button>
                  </form>


  
<!--/ End Contact Us -->

{% endblock content %}